<div class="dropzone" data-droplet ng-model="vm.droplet">
    <p>Current directory: {{vm.folder}}</p>
</div>
<div layout="column" class="divbutton">
    <div layout="row">
        <button ng-click="vm.chooseDir()">Choose Another</button>
        <button ng-click="vm.openDir()">Open Folder</button>
        <button ng-click="vm.refresh()">Refresh</button>
    </div>
    <div layout="row">
        <button ng-click="vm.rename()">Rename selected files</button>
    </div>
</div>
<div class="renamelist" layout="column" flex="100">
    <div layout="row" class="header" flex="100">
        <div flex="45">From</div>
        <div flex="10"></div>
        <div flex="45">To</div>
    </div>
    <div layout="row" class="srt" ng-repeat="elt in vm.arrToRename" flex="100">
        <div flex="45">{{elt.from}}</div>
        <div flex="10" class="arrow" ng-class="{selected: elt.selected}" ng-click="vm.onSelect(elt)"></div>
        <div flex="45">{{elt.to}}</div>
    </div>
</div>