@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto'), url(../fonts/Roboto-Regular.ttf) format('truetype');
}

body {
    font-family: Roboto;
    background-color: black;
    color: #eee;
}

.content {
  padding: 20px;
}

*:focus {
    outline: none;
}

.divbutton button {
  margin-top: 20px;
  margin-right: 20px;
}

.renamelist {
  padding: 20px 0px;
}

.renamelist table th, .renamelist table td {
  background-color: rgb(29, 31, 32);
  text-align: center;
  padding: 10px 30px;
}

.renamelist .arrow {
  font-size: 150%;
  padding: 10px 15px;
  cursor: pointer;
}

.renamelist .arrow::before {
  content: url(../img/arrow.png);
}

.renamelist .arrow.selected::before {
  content: url(../img/arrow-filled.png)
}

/* Button */

button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 45px;
  padding: 0;
  font-size: 1em;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  border-bottom: 2px solid #22303f;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #22303f;
  box-shadow: inset 0 -2px #22303f;
}
button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}